img {
    max-width: 100%;
}

h4 {
    margin-top: 28px;
}

/* main page */

.main-page {
    height: 900px;
    background-image: url(../images/bg.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 2% 2% 2% 2%;
}

.header ul {
    display: flex;
}

.header li {
    padding: 0 10px 0 10px;
}

.header a {
    text-decoration: none;
    color: #ffffff;
}

.menu {
    opacity: 0.60;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.3px;
}

.menu a:hover {
    color: black;
    opacity: 0.45;
}

.names {
    display: flex;
    flex-direction: column;
}

.main-name {
    opacity: 0.9;
    color: #fefefe;
    font-family: Dosis;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 51.01px;
    text-align: center; 
    margin: 14% 0 8% 0;   
}

.main-name-description {
    opacity: 0.28;
    color: #fefefe;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin: 0 0 14% 0;
}

.transision {
    display: flex;
    justify-content: center;
    padding-top: 8%;
}

.transision a:hover {
    opacity: 0.55;
}

/* 1st section */

.container {
    margin: 0 10%;
}

.row-3 {
    display: flex;
    justify-content: space-between;
}

.row-3 > div {
    width: 32%;
}

/* styles for about section */

.title-about {
    color: #111111;
    font-family: Dosis;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 9px;
    margin: 6% 0;
    text-align: justify;
}

.subtitle-about {
    color: #777777;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 300;
    line-height: 38px;
}

.subtitle-about > small {
    font-size: 11px;
}

.text-about {
    color: #777777;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
}

.img-list {
    margin: 6% 0; 
}

.worker-name .worker-job {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #777777;
    font-weight: 400;
}

.worker-name {
    font-size: 15px;
    letter-spacing: 6px;
    margin: 30px 0 16px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #777777;
    font-weight: 400;
}

.worker-job {
    font-size: 12px;
    letter-spacing: 4.8px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #777777;
    font-weight: 400;
}

/*list-services */

.list-services {
    display: flex;
    justify-content: center;
}

.list-services li {
    text-align: center;
    margin: 0 3%;
    color: #777777;
}

.list-services li span {
    font-size: 48px;
    font-weight: 400;
}

.active-icon, .active-icon span {
    color: #111111;
}

/* 2hd section */

.digital-services {
    height: 443px;
    background-color: #111111;
    margin: 5% 0;
}

.white-title {
    color: #ffffff;
    font-family: Dosis;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 5.4px;
}

.white-text {
    opacity: 0.7;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 27px;
}

.white-btn {
    color: #111111;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    background-color: #ffffff;
    opacity: 0.8;
    outline: none;
    border: none;
    width: 40%;
    margin: 40px 0;
    padding: 12px 0;
}

.white-btn:hover {
    cursor: pointer;
    opacity: 0.5;
}

.monitor-image {
    float: right;
    margin-top: -40px;
}

.digital-services-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 443px;
}

/* 3rd section */

.portfolio-text {
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
}

.portfolio-list {
    display: flex;
    justify-content: center;
}

.portfolio-list li {
    list-style: none;
    color: #111111;
    font-family: Dosis;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5.2px;
    padding: 35px;
}

.portfolio-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gray-layer {
    width: 30%;
    filter: grayscale(100%);
}

.gray-layer:hover {
    filter: none;
    cursor: pointer;
}


/* four section */

.creative-works {
    height: 218px;
    background: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-start-project {
    width: auto;
    padding: 12px 50px;
    margin: 24px 0 0;
}

.title {
    color: #111111;
    font-family: Dosis;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 9px;
    margin: 10% 0 6%;
    text-align: center;
}

.title-about {
    text-align: left; 
}



.title-item {
    color: #111111;
    font-family: Dosis;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5.6px;
    margin: 35px 0;
}

.custom-icons span {
    color: #111111;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 24px;
    margin: 35px 0 0;
}

.row-3-center {
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 10%;
}

.row-margin {
    margin-top: 40px;
}

/* WHAT PEOPLE SAY */

.black-background {
    background-image: url(../images/background_what_people.png);
    width: 100%;
    height: 483px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.black-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 21px;
}

.black-title {
    text-align: center;
}

.arrows { 
    position: relative;
}

.arrow-left {
    position: absolute;
    left: -75%;
}

.arrow-right {
    position: absolute;
    right: -72%;
    top: 2%;
}

.arrows > small {
    display: flex;
    justify-content: center;
    font-weight: 400;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    opacity: 0.3;
    font-size: 11px;
}

.new-white-text {
    font-size: 18px;
    line-height: 30px;
    opacity: 0.75;
    text-align: center;
    position: relative;
}

.circles {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 5%;
}

.circle {
    width: 7px;
    height: 7px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    opacity: 0.8;
    margin: 0 6px;
}

.other-circles {
    background-color: #ffffff;
}


/* latest news */

.news-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.news-title a {
    color: #999999;
    font-family: Dosis;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4.4px;
    text-decoration: none;
}

.news-item {
    margin-bottom: 10%;
}

.news-item p {
    text-align: left; 
 }

.text-news {
    padding: 20px 0;
}

.gray-button {
    background-color: #e6e6e6;
    color: #777777;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    border: none;
    padding: 10px 20px;
}

/* subscribe */ 

.subscribe {
    text-align: center;
    display: flex;
    justify-content: center;
}

.subscribe-size {
    width: 100%;
    height: 264px;
    background-color: #f8f8f8;
}

.small-title {
    font-size: 16px;
    margin-bottom: 21px;
    margin: 5% 0 2%;
}

.enter {
    padding-left: 14px;
    width: 25%;
    height: 36px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color: #777777;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}

.black-button {
    width: 128px;
    height: 36px;
    background-color: #000000;
    opacity: 0.8;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 13px;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2.6px;
    border: none;
    border-radius: 2px;
}

.post-info {
    color: #aaaaaa;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.7px;
    margin: 19px 0;
}

/* contacts */

.contacts {
    margin: 0 20%;
}

.contacts-inputs {
    display: flex;
}

.contacts-inputs div {
    width: 50%;
    margin: 6% 0 3%;
}

.contacts-inputs input, .contacts-inputs textarea {
    width: 98%;
    height: 36px;
    margin: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #777777;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
}

.contacts-inputs textarea {
    height: 85px;
}

.contact-button {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13%;
}

.subscribe-text {
    color: #aaaaaa;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 26px;
}

.subscribe-button {
    border: none;
    height: 36px;
    padding: 0 20px;
    background-color: #111111;
    opacity: 0.8;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2.6px;
    border-radius: 2px;
}

/* MAP */

.map-background {
    background-image: url(../images/maps_background.png);
    height: 410px;
    background-size: cover;
    position: relative;
}

.open-map {
    position: absolute;
    left: 46%;
    top: 20%;
    opacity: 0.75;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 4.8px;
    margin: 5% 0 2%;
}

/* LIST ICON */

.footer {
    position: relative;
    height: 429px;
    background-color: #f8f8f8;
}

.footer-text {
    display: flex;
    justify-content: center;
}

.footer-text-one {
    margin-bottom: 20%;
}

.footer-text-two {
    margin-bottom: 47%;
}

.position {
    position: absolute;
    top: 30%;
    left: 42%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 960px) {
    .main-name {
        letter-spacing: 30.00px;
    }

    .row-3 {
        flex-wrap: wrap;
    }

    .row-3 > div {
        width: 48%;
    }

    .row-3 .subtitle-about {
        width: 100%;
    }

    .img-list > div {
        width: 100%;
        text-align: center;
    }

    .monitor-image {
        display: none;
    }

    .list-services {
        flex-wrap: wrap; 
    }    
    
    .portfolio-text {
        max-width: 90%;
    }

    .gray-layer {
        width: 50%;
    }

    .arrows {
        max-width: 75%;
        margin: 0 auto;
    }
    
    .contacts {
        margin: 0 4%;
    }

    .contact-inputs {
        flex-direction: column;
    }

    .contact-inputs > div {
        width: 100%;
        margin: 0;
    }

    .contact-button {
        flex-direction: column;
        align-items: center;
    }

    .small-title {
        font-size: 14px;
        letter-spacing: 5px;
    }

    .black-button {
        width: 110px;
        height: 30px;
        font-size: 11px;
    }

    .enter {
        height: 30px;
        font-size: 10px;
    }

    .numbers {
        flex-wrap: nowrap;
    }

    .open-map {
        left: 39%;
        top: 25%;
    }

    .position {
        top: 34%;
        left: 35%;
    }
}

@media screen and (max-width: 600px) {
    .main-name {
        letter-spacing: 9.00px;
    }

    .header {
        justify-content: center;
    }

    .menu {
        display: none;
    }

    .row-3 > div {
        width: 100%;
    }

    .portfolio-list {
     flex-direction: column;
     align-items: center;   
    }

    .gray-layer {
        width: 100%;
    }

    .contacts-inputs {
        flex-direction: column;
        margin: 0 10%;   
    }

    .small-title {
        font-size: 10px;
        letter-spacing: 4px;
    }

    .enter {
        height: 25px;
        width: 200px;
    }

    .black-button {
        width: 100px;
        height: 25px;
        font-size: 10px;
    }

    .numbers {
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: left;
        justify-content: center;
        margin: 0 10%;
        width: 20%;
    }


    .open-map {
        left: 39%;
        top: 26%;
    }

    .position {
        top: 31%;
        left: 32%;
    }

}